/x64
/examples/x64
/.vs
/examples/.vs
/examples/D2DOverlay Test External/x64
/examples/D2DOverlay Test Internal/x64
/examples/D2DOverlay Test External.VC.db
/examples/*.opendb
/examples/D2DOverlay Test External/Debug
/examples/Debug
/examples/D2DOverlay Test Internal.VC.db
/examples/D2DOverlay Test Internal/Debug
/examples/ipch
/examples/D2DOverlay Test Internal Host Test/x64
/examples/MFCApplication1/x64
/examples/MFCApplication1/*.aps
